<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<html class="dark">
<head>
    <meta charset="UTF-8">
    <title th:text="#{added.title}"></title>
</head>
<body>
<header>
    <a href="/carList?lang=en">EN</span></a>
    <a href="/carList?lang=pl">PL</a>

</header>
<nav>
    <a href="/formAdding"><span th:text="#{navbar.adding}"></span></a>
    <a href="/carList"><span th:text="#{navbar.list}"></span></a>
</nav>
    <h1>
    <span th:text="#{added.announcment}"></span>
    </h1>
</body>
</html>